#ulTaskList{
	width: 300px;
}

#ulTaskList li{
	list-style: none;
	border : 1px solid black;
	background-color: #efefef;
	padding: 5px;
	margin-top: 5px;
	border-radius: 4px;
	cursor: pointer;
}

#ulTaskList li.completed{
	border : 2px solid red;
	background-color: lightpink;
	font-style: italic;
	text-decoration: line-through;
}

#divOfflineStatus{
	position : absolute;
	top : 0;
	right : 0;
	margin : 5px;
	background-color: black;
	color : yellow;
	padding : 10px;
}